alembic
bcrypt
cffi
click
coverage
Flask==2.2.5
Flask-Bcrypt
Flask-Cors
Flask-Migrate==2.7.0
Flask-Script
Flask-SQLAlchemy==3.0.2
Flask-Testing
itsdangerous
Jinja2>=3.0
Mako
MarkupSafe
pycparser==2.17
PyJWT==1.4.2
python-editor==1.0.3
six==1.12.0
SQLAlchemy
Werkzeug==2.3.8
